<h1>Aimi Sato</h1>

<%= link_to 'インスタのアカウント', "https://www.instagram.com/mo5_0223/" =%>
<br>
<%= link_to 'ツイッターのアカウント' , "https://twitter.com/aiko_0223" =%>

<p>Find me in app/views/pages/info.html.erb</p>
